{% extends 'base.html.twig' %}
    
{% block title %}Homepage{% endblock %}
    
{% block body %}

<div class="flex justify-center items-center h-screen">
    {{form_start(form)}} 
    <div class="flex flex-col space-y-4">
        <div class="flex flex-col space-y-2">
            <p class="text-xl">geboortedatum</p>
            
            {{ form_widget(form.dob, {'attr': {'class': 'border-2 border-gray-300 text-black rounded-md p-2'}}) }}
        </div>
        <div class="flex flex-col space-y-2">
            <p class="text-xl">rugnummer</p>
            {{ form_widget(form.userNR, {'attr': {'class': 'border-2 border-gray-300 text-black rounded-md p-2'}}) }}
        </div>
        <div class="flex flex-col space-y-2">
            {{ form_widget(form.Submit, {'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'}}) }}
        </div>
    </div>
    {{form_end(form)}}
{% endblock %}